<template>
  <div :style="bgColor" class="class-sub-info">
    <slot />
  </div>
</template>

<script>
export default {
  computed: {
    bgColor: function() {
      return this.outline ? {
        color: this.color,
        backgroundColor: 'white',
        border: `1px solid ${this.color}`
      } : {
        color: 'white',
        backgroundColor: this.color,
      };
    }
  },
  props: {
    color: {
      type: String,
      required: true
    },
    outline: {
      type: Boolean,
      required: true
    }
  }
};
</script>

<style lang="scss" scoped>
.class-sub-info {
  font-size: 1rem;

  margin: 0 5px;
  padding: 2px 9px;
}
</style>