<template>
  <main role="main">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <section>
            <h2>{{ projectName }} とは</h2>
            <p>津山高専のシステム研究部が作成した、授業変更等を公式サイトよりも見やすく表示する非公式なWebサイトです。このサイトでは公開されている最新の授業変更、行事予定を閲覧することができます。また、icsを発行する機能があるので、授業変更と行事予定を皆さんのカレンダーに追加・同期することもできます。</p>
          </section>
        </div>
      </div>
      <section>
        <h2>連絡事項</h2>
        <h3>授業変更</h3>
        <div class="row align-items-center">
          <div v-if="!loadedClasses.canceled" class="col-12 col-sm-6 col-lg-4">
            <loading />
          </div>
          <div v-else class="col-12 col-sm-6 col-lg-4" v-for="classInfo in classes.moved" :key="classInfo.id">
            <moved-class :class-info="classInfo" />
          </div>
        </div>
        <h3>休講</h3>
        <div class="row align-items-center">
          <div v-if="!loadedClasses.moved" class="col-12 col-sm-6 col-lg-4">
            <loading />
          </div>
          <div v-else class="col-12 col-sm-6 col-lg-4" v-for="classInfo in classes.canceled" :key="classInfo.id">
            <canceled-class :class-info="classInfo" />
          </div>
        </div>
        <h3>補講</h3>
        <div class="row align-items-center">
          <div v-if="!loadedClasses.supplementary" class="col-12 col-sm-6 col-lg-4">
            <loading />
          </div>
          <div v-else class="col-12 col-sm-6 col-lg-4" v-for="classInfo in classes.supplementary" :key="classInfo.id">
            <supplementary-class :class-info="classInfo" />
          </div>
        </div>
      </section>
      <section>
        <h2>行事予定</h2>
        <p>Coming soon</p>
      </section>
    </div>
  </main>
</template>

<script>
import API from '@/apiClient.js';

import CanceledClass from '@/components/partical/CanceledClass';
import MovedClass from '@/components/partical/MovedClass';
import SupplementaryClass from '@/components/partical/SupplementaryClass';
import Loading from '@/components/partical/Loading';


export default {
  components: {
    CanceledClass,
    MovedClass,
    SupplementaryClass,
    Loading
  },
  data: function() {
    return {
      classes: {
        canceled: [],
        moved: [],
        supplementary: []
      },
      loadedClasses: {
        canceled: false,
        moved: false,
        supplementary: false
      },
      projectName: process.env.VUE_APP_PROJECT_NAME
    }
  },
  mounted: function() {
    API.getCanceledClasses().then(response => {
      this.classes.canceled = response.data;
      this.loadedClasses.canceled = true;
    });

    API.getMovedClasses().then(response => {
      this.classes.moved = response.data;
      this.loadedClasses.moved = true;
    });

    API.getSupplementaryClasses().then(response => {
      this.classes.supplementary = response.data;
      this.loadedClasses.supplementary = true;
    });
  }
}
</script>

<style lang="scss" scoped>
h2 {
  width: 240px;
  border-bottom: 1px solid black;
}
</style>