<template>
  <class-change class="canceled-class" :class-number="classInfo.classNumber">
    <div class="d-flex align-items-center mb-3 class-sub-info">
      <class-sub-info :color="getProgramColor(classInfo.classNumber.program)" :outline="false">
        {{ parseDate(classInfo.date) }}
      </class-sub-info>
      <class-sub-info :color="getProgramColor(classInfo.classNumber.program)" :outline="true" >
        {{ `${classInfo.classNumber.grade}-${classInfo.classNumber.program}` }}
      </class-sub-info>
      <class-sub-info :color="getProgramColor(classInfo.classNumber.program)" :outline="true" >
        {{ `${classInfo.periods[0]}-${classInfo.periods[classInfo.periods.length - 1]}限` }}
      </class-sub-info>
    </div>
    <div class="class-name">{{ `${classInfo.className} (${classInfo.teacher})` }}</div>
    <p>{{ classInfo.note }}</p>
  </class-change>
</template>

<script>
import ClassChange from './ClassChange';
import ClassSubInfo from '@/components/mixin/ClassSubInfo';

import ColorUtils from '@/util/ColorUtils';

export default {
  components: {
    ClassChange,
    ClassSubInfo
  },
  methods: {
    getProgramColor: function(program) {
      return ColorUtils.getProgramColor(program);
    },
    parseDate: function(classDate) {
      const date = new Date(classDate);

      return `${date.getMonth() + 1}/${date.getDate()}`;
    }
  },
  props: {
    classInfo: {
      type: Object,
      required: true
    }
  }
};
</script>

<style lang="scss" scoped>
p {
  margin-bottom: 0;
}

.canceled-class {
  .class-sub-info {
    font-size: 1.2rem;
  }

  .class-name {
    font-size: 20px;
    text-align: center;
  }
}
</style>