<template>
  <div class="class-change" :style="classChangeCard">
    <slot />
  </div>
</template>

<script>
import ColorUtils from '@/util/ColorUtils';

export default {
  computed: {
    classChangeCard: function() {
      return {
        border: `3px solid ${ColorUtils.getProgramColor(this.classNumber.program)}`,
        borderRadius: '8px'
      }
    }
  },
  props: {
    classNumber: {
      type: Object,
      required: true
    }
  }
};
</script>

<style lang="scss" scoped>
.class-change {
  margin-bottom: 20px;
  padding: 1rem;
}
</style>