<template>
  <class-change class="moved-class" :class-number="classInfo.classNumber">
    <div class="d-flex align-items-center mb-3 class-sub-info">
      <class-sub-info :color="getProgramColor(classInfo.classNumber.program)" :outline="false">
        {{ parseDate(classInfo.before.date) }}
      </class-sub-info>
      <class-sub-info :color="getProgramColor(classInfo.classNumber.program)" :outline="true" >
        {{ `${classInfo.classNumber.grade}-${classInfo.classNumber.program}` }}
      </class-sub-info>
      <class-sub-info :color="getProgramColor(classInfo.classNumber.program)" :outline="true" >
        {{ `${classInfo.before.periods[0]}-${classInfo.before.periods[classInfo.before.periods.length - 1]}限` }}
      </class-sub-info>
    </div>
    <div class="class-name">{{ `${classInfo.before.className} (${classInfo.before.teacher})` }}</div>
    <p>{{ classInfo.before.note }}</p>
    <div class="d-flex justify-content-center">
      <font-awesome-icon icon="arrow-down" class="arrow-change-to" />
    </div>
    <div class="d-flex align-items-center mb-3 class-sub-info">
      <class-sub-info :color="getProgramColor(classInfo.classNumber.program)" :outline="false">
        {{ parseDate(classInfo.after.date) }}
      </class-sub-info>
      <class-sub-info :color="getProgramColor(classInfo.classNumber.program)" :outline="true" >
        {{ `${classInfo.classNumber.grade}-${classInfo.classNumber.program}` }}
      </class-sub-info>
      <class-sub-info :color="getProgramColor(classInfo.classNumber.program)" :outline="true" >
        {{ `${classInfo.after.periods[0]}-${classInfo.after.periods[classInfo.after.periods.length - 1]}限` }}
      </class-sub-info>
    </div>
    <div class="class-name">{{ `${classInfo.after.className} (${classInfo.after.teacher})` }}</div>
    <p>{{ classInfo.after.note }}</p>
  </class-change>
</template>

<script>
import ClassChange from './ClassChange';
import ClassSubInfo from '@/components/mixin/ClassSubInfo';

import ColorUtils from '@/util/ColorUtils';

export default {
  components: {
    ClassChange,
    ClassSubInfo
  },
  methods: {
    getProgramColor: function(program) {
      return ColorUtils.getProgramColor(program);
    },
    parseDate: function(classDate) {
      const date = new Date(classDate);

      return `${date.getMonth() + 1}/${date.getDate()}`;
    }
  },
  props: {
    classInfo: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>
.moved-class {
  p {
    margin-bottom: 0;
  }

  .class-sub-info {
    font-size: 1.2rem;
  }

  .class-name {
    font-size: 20px;
    text-align: center;
  }

  .arrow-change-to {
    font-size: 24px;

    margin: 20px 0;
  }
}
</style>