<template>
  <nav class="navbar">
    <picture class="nav-item">
      <img :src="sources.logo.black" alt="logo" class="img-fluid">
      <source :srcset="sources.logo.white" media="(prefers-color-theme: dark)" type="image">
    </picture>
  </nav>
</template>

<script>
export default {
  data: function() {
    return {
      sources: {
        logo: {
          black: require('@/assets/logo/black.svg'),
          white: require('@/assets/logo/white.svg')
        }
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~@/styles/variable";

$bg-nav: rgba(#{$COLOR_DARK_THEME}, 0.3);
@media(prefers-color-scheme: dark) {
  $bg-nav: rgba(#{$COLOR_LIGHT_THEME}, 0.3);
}

nav.navbar {
  position: sticky;
  padding: 30px;

  display: flex;
  justify-content: space-between;

  &.navbar-bg {
    background-color: $bg-nav;
  }

  @include media-breakpoint-up(sm) {
    padding: 50px;
  }
}

.nav-item {
  display: flex;
  justify-content: space-between;
}

img {
  width: 120px;
}
</style>
