<template>
  <div id="app">
    <navigation />
    <index />
  </div>
</template>

<script>
import Navigation from '@/components/partical/Navigation';

import index from '@/views/index';

export default {
  components: {
    index,
    Navigation
  },
  name: 'App'
}
</script>

<style lang="scss">
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/utilities/display";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');

body {
  margin: 0;
  font-family:-apple-system, BlinkMacSystemFont, 'Noto Sans JP', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/**
 * ダークモードに対応したカラーに設定
 */
:root {
  --light-theme: 241, 243, 245;
  --dark-theme: 52, 58, 64;

  /* light theme */
  --base-bg: #f1f3f5;
  --base-text: #212529;

  /* dark theme */
  @media(prefers-color-scheme: dark) {
    --base-bg: #343a40;
    --base-text: #f8f9fa;
  }

  /* common for light and dark */
  --s-senshin: #748ffc;
  --m-kikai: #ff8787;
  --e-denkidenshi: #ffd43b;
  --c-joho: #38d9a9;

  /* for cud mode */
  &[data-cud="cud"] {
    --s-senshin: #0059fd;
    --m-kikai: #ff4900;
    --e-denkidenshi: #f9f300;
    --c-joho: #00b278;
  }
}
</style>
